*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
   
}
.main_box{
    height: 100vh;
    background-image: url(photo.jpg);
    background-size: cover;

}
.btn_one i {
    left: 10px;
    color: white;
    font-size: 30px;
    font-weight:  700;
    position: absolute;
    line-height: 60px;
    cursor: pointer;   
    transition: all 0.3s linear ;

}
.sidebar_menu{
    position: absolute;
    height: 100vh;
    width: 300px;
    background-color: rgba(255, 255, 255, 0.1);
    box-shadow: 5px 5px 10px rgb(54, 51, 51);
    left: -400px;
    transition: all 0.5s linear ;
}
.sidebar_menu .logo{
    position: relative;
    width: 100%;
    line-height: 60px;
    height: 60px;
    box-shadow: 0 0 4px white;
    
}
.sidebar_menu .logo a{
    color: white;
    text-decoration: none;
    position: absolute;
    left: 35px;
    font-size: 30px;
    line-height: 60px;
} 
.sidebar_menu .btn_two{
    color: white;
    opacity: 0;
    font-size: 30px;
    line-height: 60px;
    position: absolute;
    left: 270px;
    transition: all 0.3s linear ;
   top: 50px;
}
.sidebar_menu .menu{
    color: white;
    position: absolute;
    width: 100%;
    top: 90px;
}
.sidebar_menu .menu li{
    margin-top: 6px;
    padding: 10px 20px;
    
}
.sidebar_menu .menu i,a{
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.sidebar_menu .menu i{
    padding-right: 10px;
}
.sidebar_menu .social_media{
    position: absolute;
    bottom: 50px;
    left: 25%;

}
.sidebar_menu .social_media i{
    color: white;
    opacity: 0.5;
    padding: 0 5px ;
}
#check{
    display: none;    
}
.sidebar_menu .menu li:hover{
    box-shadow: 0 0  4px white;
}
.sidebar_menu .btn_two:hover{
    opacity: 1;
    transform: scale(1.2);
}
.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform: scale(1.2);
}
#check:checked ~ .sidebar_menu{
    left: 0px;

}
#check:checked ~ .btn_one{
    display: none;
}
 .btn_one i:hover{
   font-size: 35px;

}
#check:checked ~.sidebar_menu .btn_two{
    opacity: 0.7;
}