*{
    margin: 0;
    padding: 0;
}
body{
    text-align: center;
}
.js{
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: column;
    background-color: blueviolet;
}
h1{   
    margin-top: 100px;
    margin-bottom: 50px;
    color: white;

}
h2{
    color: yellow;
}
.js:hover{
    background-color: yellow;
}
h1:hover{
    color: black;
    
}
h2:hover{
    color: blueviolet;

}