.container{ 
    margin: 0 auto;
    width: 400px;
    height: 400px;
    border: 2px solid green;
    border-radius: 5px;
    padding: 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    

}
.item
{   width: 100px;
    height: 100px;
    border: 2px solid black;
    border-radius: 5px;
    font-size: 50px;
    background-color: grey;
    text-align: center;
}
.nav-container{
    width: 900px;
    height: 50px;
    display: flex;
    background-color: pink;
    border: 2px solid green;
    border-radius: 10px;
    justify-content: flex-start;
    align-content: center;
}
.items{
    width: 80px;
    height: 50px;
    margin-left: 5px;
    line-height: 50px;
   
}
.contain{
    width: 2000px;
    height: 400px;
    background-color: aqua;
}
.contain div{
    width: 200px;
    height: 200px;
    background-color: pink;    
    display: inline-block;
    text-align: center;
   
}
#one{
    background-color: beige;
    position: static;
    top:200px;
    left:200px;
    
}
#two{
    background-color: blue;
    position: ;
    top: 200px;

}
#three{

}
