*{
    margin: 0;
    padding: 0;
}
body{
    background-color: antiquewhite;
    text-align: center;
}
.btn{
    width: 200px;
    height: 200px;
    border: 20px solid rgb(0, 0, 0);
    border-radius : 20%;
    margin: 1.5rem;
}
.container{
    display: flex;
    justify-content: center;
}
.red{
    background-color: #f25022;
}
.blue{
    background-color: #00a4ef;
}
.green{
    background-color: #7fba00;
}
.yellow{
    background-color: #ffb900;
}
.flash{
    background-color: white;
}