#box{
    width: 200px;
    height: 200px;
    border: 2px solid black;
    background-color: rgb(46, 130, 203);
    padding:5px;
}
#circle{
    width: 200px;
    height: 200px;
    background-color: rgb(237, 196, 11);
    border-radius: 50%;
}
#Reyes{
    position: relative;
    top: 40px;
    left: 50px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: black;
   display: inline-block;
}
#Leyes{
    display: inline-block;
    position: relative;
    top: 40px;
    left: 100px;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    background-color: black;
}
#mouth{
    width: 100px;
    height: 30px;
    background-color: rgb(179, 82, 2);
    position: absolute;
    top: 160px;
    left: 60px;
    border-radius: 0px 0px 30px 30px;
}