.card{
    width: 200px;
    height: 200px;
   border: 2px solid blue;
   display: inline-block;
background-color: aqua;
   border-radius: 5px;
   box-shadow: 2px 2px 20px black;
    transition: margin-top 2s ease-in 0.3s ;
   margin: 0 auto;
}

img{
    
    width: 100%;
    border-radius: 5px 0px 0px 0px;
}
.desc{
   padding: 0px 2px 0px 2px;
}
.card:hover{
    background-color: blanchedalmond;
    box-shadow: 5px 5px 20px blue;
   margin-top: 400px;

}
