#box{
    height: 150px;
    width: 300px;
    background-color: grey;
    border:5px black dotted;
 margin-left: 20px;
 margin-right: 1em;
 margin-bottom: 40px;
 margin-top: 20px;
    padding: 1em;
    
}
.box{
    height: 100px;
    width: 100px;
    background-color: pink;
    border: 2px solid black;
    border-radius: 50%;
    display: inline-flex;
}
li{
    display: inline;
}
